# 1bc7:1911 Telit Wireless Solutions Android
# AT^CUSTOMER? - 0
# AT^SETMODE? - 1
# /dev/ttyUSB0
# /dev/ttyUSB1
# /dev/ttyUSB2 - AT
# /dev/ttyUSB3

MODE=mbim
CONFIG_VALUE=1

INIT_CMD=(
"echo '1bc7 1911' > /sys/bus/usb-serial/drivers/option1/new_id"
"sleep 10"
"TTY_FILE=/dev/ttyUSB2"
"AT^CUSTOMER?" # 0
"AT^SETMODE?" # 1
)
