[Unit]
Description=Run LTE modem
Wants=basic.target
After=basic.target

[Service]
Type=simple
User=root
ExecStart=/root/script/LTE-modem/start_LTE_modem.sh
Restart=no

[Install]
WantedBy=multi-user.target
